.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  margin: 1.5rem 0;
  .btn {
    display: flex;
    align-items: center;
  }
}

.cards-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.5rem;

  .card {
    .social-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        margin: 0 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .about-grid {
    grid-template-columns: 1fr;

    .image {
      margin-bottom: 1rem;
    }
  }

  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .cards-grid {
    grid-template-columns: auto;

    .card {
      max-width: 24rem;
    }
  }
}
