.grid {
  display: grid;
  grid-template-columns: 250px auto;
  column-gap: 1rem;
  margin-top: 1.5rem;
}

.cars-container {
  display: grid;
  gap: 1.5rem;

  .image {
    position: relative;
    width: 400px;
    @media screen and (max-width: 576px) {
      width: auto;
    }

    .badge {
      position: absolute;
      left: 1rem;
      top: 1rem;
      background-color: orange;
    }
  }

  .content {
    .title-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        font-size: 1.3rem;
      }
      @media screen and (max-width: 992px) {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0.5rem;
      }
      .rating-wrapper {
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
}
