.filter-container {
  position: sticky;
  top: 0.5rem;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 5px;
  height: 400px;

  h4 {
    font-size: 1.1rem;
  }

  @media screen and (max-width: 768px) {
    position: relative;
    width: 400px;
  }

  @media screen and (max-width: 576px) {
    position: relative;
    width: auto;
  }
}
