html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3 {
  margin: 0.5rem 0;
}

ul {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding-top: 40px;
  @media screen and (max-width: 576px) {
    padding-top: 20px;
  }
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 576px) {
    h1,
    h2 {
      font-size: 1.5rem;
    }
  }
}

.divider {
  height: 1px;
  background: #dcdcdc;
}

.link {
  color: black;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
