html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3 {
  margin: 0.5rem 0;
}

main {
  padding: 40px 20px;
}

ul {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.divider {
  height: 1px;
  background: grey;
}

.link {
  color: black;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
