.title-container {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: 250px auto;
  column-gap: 1rem;
  margin-top: 1.5rem;
}

// @media screen and (max-width: 576px) {
//   img {
//     height: 200px;
//   }
// }
