.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1rem;
  margin-top: 1.5rem;

  .filter {
    background-color: #b2f5f0;
    padding: 1rem;
    border-radius: 5px;
  }

  .cars {
    background-color: lightcoral;
  }
}
