.grid {
  display: grid;
  grid-template-columns: 250px auto;
  column-gap: 1rem;
  margin-top: 1.5rem;

  .filter-container {
    position: sticky;
    top: 0.5rem;
    background-color: #b2f5f0;
    padding: 1rem;
    border-radius: 5px;
    height: 450px;
  }

  .cars-container {
    display: grid;
    row-gap: 1rem;

    .image {
      position: relative;
      width: 400px;

      .badge {
        position: absolute;
        left: 1rem;
        top: 1rem;
        background-color: orange;
      }
    }

    .title-content {
      display: flex;
      justify-content: space-between;
    }
  }
}
