.navigation {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 6rem;
  box-shadow: 0px 2px 10px rgb(216, 216, 216);

  .logo {
    font-size: 2rem;
  }

  .nav-menu {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: auto;
    list-style: none;

    .link {
      padding: 8px 16px;
    }
  }
}
