.navigation {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 2rem;
  box-shadow: 0px 2px 10px rgb(216, 216, 216);

  .logo {
    font-size: 2rem;

    @media screen and (max-width: 576px) {
      font-size: 1.8rem;
    }
  }

  .nav-menu {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: auto;
    list-style: none;

    .link {
      padding: 8px 16px;
    }
  }

  .burger-btn {
    cursor: pointer;
    padding: 5px;
    display: none;
  }

  @media screen and (max-width: 768px) {
    padding: 0 2rem;
    position: sticky;
    z-index: 3;
    top: 0;
    background-color: white;

    .nav-menu {
      position: fixed;
      z-index: 3;
      right: 0;
      top: 70px;
      flex-direction: column;
      background-color: white;
      width: 0%;
      height: 100%;
      transition: all 0.5s;

      .link {
        display: block;
        text-align: center;
        font-size: 1.2rem;

        &:hover {
          background-color: #fab959;
          color: white;
        }
      }
    }

    .nav-open {
      width: 100%;
    }

    .burger-btn {
      margin-left: auto;
      display: block;
    }
  }
}
